node_modules/
dist/
.expo/
*.local
.env
.env.local
.env.*.local
*.tsbuildinfo
.turbo/

# Native
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store
